page-meses {
    ion-content {
        background: linear-gradient(48deg, rgba(255, 217, 30, 1) 0%, rgba(255, 166, 0, 0.8) 28%, rgba(245, 44, 44, 0.75) 93%, rgba(245, 44, 44, 1) 100%);
        color: color($colors, light);
        ion-card {
            color: color($colors, light);
        }
        .header1 {
            text-align: center;
            color: color($colors, light);
            font-size: 30px;
            margin-top: 20px;
        }
        .text-content1 {
            text-align: center;
            color: color($colors, primary);
            font-size: 20px;
            margin-bottom: 35px;
            margin-top: 0px;
        }
        .card1 {
            border: none !important;
            border-radius: 5%;
            background: rgba(99, 3, 40, 0.8);
            // background: rgba(0, 153, 241, 0.781);
            height: 250px;
            margin-bottom: 20px !important;
        }
        .card2 {
            border: none !important;
            border-radius: 5%;
            background: rgba(70, 224, 204, 0.8);
            height: 250px;
            margin-bottom: 20px !important;
        }
        .card3 {
            border: none !important;
            border-radius: 5%;
            background: rgba(97, 204, 70, 0.8);
            height: 250px;
            margin-bottom: 30px !important;
        }
        .card4 {
            border: none !important;
            border-radius: 5%;
            background: rgba(0, 153, 241, 0.781);
            // background: rgba(99, 3, 40, 0.8);
            height: 250px;
            margin-bottom: 30px !important;
        }
        .card-header {
            color: color($colors, light);
            text-align: center !important;
            font-size: 1.8em !important;
            font-weight: 500;
            padding-top: 0px !important;
            padding-bottom: 10px !important;
        }
        .card-header-md.hello {
            font-size: 25px !important;
            font-weight: 900 !important;
        }
        .card-md p {
            color: color($colors, light);
            text-align: center !important;
            font-size: 1.7rem !important;
            margin-bottom: 10px !important;
        }
        .button {
            color: white !important;
            width: 50%;
            margin: 0 auto !important;
            text-align: center !important;
            border: 1px solid white;
        }
        .btn1 {
            background: rgba(70, 224, 204, 0.8);
        }
        .btn2 {
            background: rgba(97, 204, 70, 0.8);
        }
        .btn3 {
            background: rgba(241, 140, 72, 0.781);
        }
        .icon-md {
            font-size: 70px;
            text-align: center !important;
            margin-top: 10px !important;
            margin-left: 125px !important;
        }
        ion-avatar img {
            border-radius: 0px !important;
            width: 50px !important;
            height: 50px !important;
            max-width: 100px;
            max-height: 100px;
        }
        .rowCol {
            margin-top: 3px;
            height: auto;
            bottom: -3px !important;
            padding-bottom: 0px !important;
            color: color($colors, graycolor);
            padding-left: 15px !important
        }
        .my-row {
            margin-bottom: 0px !important;
        }
        .companyname {
            width: auto !important;
            color: #fc7100;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: -10px !important;
        }
        .dataCol {
            padding: 0px;
            margin-top: 4px;
            float: left;
            width: auto !important;
        }
        .dataCol .time {
            margin-left: -3px !important;
            margin-top: 0px !important;
        }
        .iconClass.icon-md {
            padding-right: 5px !important;
            color: #fc7100;
            margin-left: -3px !important;
        }
        .rating {
            padding: 0px !important;
            margin: 0px !important;
            margin-right: 5px !important;
        }
        .avg p {
            padding-bottom: 3px !important;
            padding-top: 3px !important;
            color: color($colors, graycolor);
        }
        .content-item1 {
            background: transparent;
            margin: 0px auto !important;
            text-align: center;
        }
        .content-card1 {
            padding: 5px;
            margin: 0px auto !important;
            text-align: center;
            border-radius: 2%;
            margin: 10px 10px 5px 10px !important;
        }
        .cardItem {
            padding-left: 10px !important;
        }
        .ionAvatar {
            margin-left: 0px !important;
        }
        .content-card1 .postImage {
            width: 88%;
            margin: 0 auto;
            text-align: center;
        }
        .content-card1 .username {
            font-weight: bold;
            color: #fc7100;
            padding: 0px !important;
            text-align: left !important;
            margin-top: 5px;
            padding-top: 5px !important;
        }
        .content-card1 .postTime {
            font-size: 14px !important;
        }
        .content-card1 .postCity {
            font-size: 14px !important;
        }
        .content-card1 .post {
            font-size: 1.5rem !important;
            text-align: left;
            margin-left: -7px;
            margin-top: 5px;
        }
        .item-inner {
            border: none !important;
        }
        .fab {
            border: 2px double #fc7100;
            background: #fc7100 !important;
        }
        .noResultItem {
            background: transparent;
            position: absolute;
            color: #fff;
            top: 40%;
            left: 50%;
            padding: 15px;
            -ms-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            height: 100px;
        }
        .noResult {
            color: #fff !important;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .postImage {
            display: block;
            max-width: 200px;
            max-height: 250px;
            width: auto;
            height: auto;
            text-align: left;
            padding: 0px;
            margin: 0px;
            margin-left: 10px !important;
        }
        .iconClass.icon-md {
            padding-left: 5px !important;
            color: #fc7100;
            margin-left: -3px !important;
        }
        .rating {
            padding: 0px !important;
            margin: 0px !important;
            margin-right: 5px !important;
        }
        .avg {
            display: flex !important;
        }
        .notLiked {
            color: #2e2c2c !important;
        }
        ion-badge {
            color: #fff;
            position: absolute;
            top: 0px;
            right: 0px;
            border-radius: 100%;
        }
        .category-block {
            margin-bottom: 4px;
        }
        .category-banner {
            border-left: 8px solid var(--ion-color-secondary);
            background: var(--ion-color-light);
            height: 40px;
            padding: 10px;
            font-weight: 500;
        }
    }
    .content-item1 {
        background: transparent;
        margin: 0px auto !important;
        text-align: center;
    }
    .content-card1 {
        padding: 5px;
        margin: 0px auto !important;
        text-align: center;
        border-radius: 2%;
        margin: 10px 10px 5px 10px !important;
    }
    .cardItem {
        padding-left: 10px !important;
    }
    .ionAvatar {
        margin-left: 0px !important;
    }
    .content-card1 .postImage {
        width: 88%;
        margin: 0 auto;
        text-align: center;
    }
    .content-card1 .username {
        font-weight: bold;
        color: #fc7100;
        padding: 0px !important;
        text-align: left !important;
        margin-top: 5px;
        padding-top: 5px !important;
    }
    .content-card1 .postTime {
        font-size: 14px !important;
    }
    .content-card1 .postCity {
        font-size: 14px !important;
    }
    .content-card1 .post {
        font-size: 1.5rem !important;
        text-align: left;
        margin-left: -7px;
        margin-top: 5px;
    }
    .item-inner {
        border: none !important;
    }
    .fab {
        border: 2px double #fc7100;
        background: #fc7100 !important;
    }
    .noResultItem {
        background: transparent;
        position: absolute;
        color: #fff;
        top: 40%;
        left: 50%;
        padding: 15px;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 100px;
    }
    .noResult {
        color: #fff !important;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .postImage {
        display: block;
        max-width: 200px;
        max-height: 250px;
        width: auto;
        height: auto;
        text-align: left;
        padding: 0px;
        margin: 0px;
        margin-left: 10px !important;
    }
    .iconClass.icon-md {
        padding-left: 5px !important;
        color: #fc7100;
        margin-left: -3px !important;
    }
    .rating {
        padding: 0px !important;
        margin: 0px !important;
        margin-right: 5px !important;
    }
    .avg {
        display: flex !important;
    }
    .notLiked {
        color: #2e2c2c !important;
    }
    ion-badge {
        color: #fff;
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 100%;
    }
    .category-block {
        margin-bottom: 4px;
    }
    .category-banner {
        border-left: 8px solid var(--ion-color-secondary);
        background: var(--ion-color-light);
        height: 40px;
        padding: 10px;
        font-weight: 500;
    }
}