<ion-header>

    <ion-navbar>
        <ion-title>Busqueda por fecha</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar [(ngModel)]="nombre" [showCancelButton]="true" (keyup)="searchEvento3()" (ionCancel)="onCancel($event)" (ionClear)="onClear($event)">


    </ion-searchbar>
    <ion-card class="card2">
        <ion-icon name="calendar"></ion-icon>
        <ion-card-header class="header">
            Buscar
        </ion-card-header>
        <ion-card-content>
            <p class="text-content">
                Busca los eventos escribiendo el dia o mes del evento
            </p>
        </ion-card-content>
    </ion-card>


    <ion-list *ngIf="showList">
        <ion-item *ngFor="let evento of searchResults">

            <h2>
                <button ion-item *ngIf="results && showResults.length > 0" (click)="iraEvento(evento)">
                            <ion-row>
                                    <ion-col col-2>
                                            <ion-avatar item-start>
                                                <img *ngIf="evento.imageVersion !==''" src="https://res.cloudinary.com/eventro/image/upload/v{{evento.imageVersion}}/{{evento.imageId}}">
                                                <img *ngIf="evento.imageVersion ===''" src="https://placehold.it/10x10">
                                            </ion-avatar>
                                        </ion-col>
                            
                                        <ion-col col-10 class="rowCol">
                                                <h2 class="companyname" text-wrap>
                                                        {{evento.nombre}}
                                                    </h2>
                                                    <ion-col class="dataCol">
                                                            <ion-row>
                                                                <ion-col col-12 text-wrap>
                                                                    <span>
                                                              {{evento.fecha}}
                                                            </span>
    
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-col>
                                          
                                    </ion-col>
                            </ion-row>
    
                    </button>
            </h2>

            <button ion-item *ngIf="noResults && showResults.length === 0">
                    {{evento.nombre}}
                  </button>
        </ion-item>
    </ion-list>

</ion-content>