<ion-header>

    <ion-navbar>
        <ion-title>Busqueda por categorias</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar [(ngModel)]="nombre" [showCancelButton]="true" (keyup)="searchEvento2()" (ionCancel)="onCancel($event)" (ionClear)="onClear($event)">


    </ion-searchbar>

    <ion-card class="card1">
        <ion-card-content>
            <ion-card-title>
                Coloca En la Barra La Categoria mas deseable
            </ion-card-title>

            <p class="pCity">
                <span class="pSpan">
                      Deportivo
                    </span>
            </p>

            <p class="pCity">
                <span class="pSpan">
                        Cultural
                        </span>
            </p>

            <p class="pSector">
                Emprendimiento
            </p>

            <p class="pSite">
                Autoridades
            </p>
        </ion-card-content>
    </ion-card>

    <ion-list *ngIf="showList">
        <ion-item *ngFor="let evento of searchResults">

            <h2>
                <button ion-item *ngIf="results && showResults.length > 0" (click)="iraEvento(evento)">
                            <ion-row>
                                    <ion-col col-2>
                                            <ion-avatar item-start>
                                                <img *ngIf="evento.imageVersion !==''" src="https://res.cloudinary.com/eventro/image/upload/v{{evento.imageVersion}}/{{evento.imageId}}">
                                                <img *ngIf="evento.imageVersion ===''" src="https://placehold.it/10x10">
                                            </ion-avatar>
                                        </ion-col>
                            
                                        <ion-col col-10 class="rowCol">
                                                <h2 class="companyname" text-wrap>
                                                        {{evento.nombre}}
                                                    </h2>
                                                    <ion-col class="dataCol">
                                                            <ion-row>
                                                                <ion-col col-12 text-wrap>
                                                                    <span>
                                                              <ion-icon name="archive" class="iconClass"></ion-icon>
                                                              {{evento.categoria}}
                                                            </span>
    
                                                        </ion-col>
                                                    </ion-row>
                                                </ion-col>
                                          
                                    </ion-col>
                            </ion-row>
    
                    </button>
            </h2>

            <button ion-item *ngIf="noResults && showResults.length === 0">
                    {{evento.nombre}}
                  </button>
        </ion-item>
    </ion-list>

</ion-content>